.newBtn
{
    -fx-background-color: #decf02;
    -fx-border-style: solid;
}

.newBtn:hover
{
    -fx-border-width: 3;
}

.loadBtn
{
    -fx-background-color: #decf02;
    -fx-border-style: solid;
}

.loadBtn:hover
{
    -fx-border-width: 3;
}

.exitBtn
{
	-fx-background-color: #3b3d3c;
}

.exitBtn:hover
{
	-fx-background-color: #decf02;
}